:root{
      --cor-primaria: #4B015E;
      --cor-segundaria: #7A4188;
      --cor-fundo: #FFFFFF;
      --cor-texto: #23022B;
      --cor-contraste: #f3eef7;
      --cor-botao: #f9f9f9;
}

.tema-escuro {
      --cor-primaria: #8F5F9B;
      --cor-segundaria: #1D0039;
      --cor-fundo: #FFFFFF;
      --cor-texto: #23022B;
      --cor-contraste: #f3eef7;
      --cor-botao: #f9f9f9;
}

body{
      max-width: 100vw;
}

header {
      background-color: var(--cor-primaria);
      color: var(--cor-contraste);
      text-align: center;
      margin: 0 auto;
      padding: 16px;
}

main {
      background-color: var(--cor-fundo);
      color: var(--cor-primaria);
      margin: 0 auto;
      padding: 16px;

      display: flex;
      flex-wrap: wrap;
}

article{
      display: flex;

      border: 1px solid var(--cor-primaria);

      margin: 16px;
      gap: 16px;
      padding: 16px;

      flex: 1 1 25%;

      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
}

img {
      width: 80px;
      height: 80px;
}

.artigo-autor {
      font-weight: bold;
}